.modal-dialog {
    min-width: 75%;

    .modal-content {
        background-color: $color-yellow;

        .modal-header {
            border-bottom: none;

            p {
                @include textStyle($color-note, 0.9rem, 400);
            }
        }

        .modal-body {
            background-color: $color-green-light;
            margin: 1rem;
            border: none;

            .table {
                thead {
                    background-color: $color-green-dark;

                    th {
                        color: $color-yellow;
                    }
                }

                tbody {
                    tr {
                        background-color: $color-green-dark;

                        td {
                            color: white;
                        }

                        .increase,
                        .decrease {
                            background-color: $color-yellow;
                        }
                    }
                }
            }
        }

        .modal-footer {
            border-top: none;

            button {
                color: white;
            }
        }
    }
}

@include responsive('lg') {
    .modal-dialog {

        .modal-content {

            .modal-body {

                .table {

                    thead {
                        th {
                            font-size: 0.8rem;
                        }
                    }

                    tbody {
                        tr {

                            td {
                                font-size: 0.8rem;
                            }

                            .increase,
                            .decrease {
                                padding: 5px;
                                font-size: 10px;
                            }

                            .remove {
                                padding: 5px;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive('md') {
    .modal-dialog {
        
        .modal-header {
            h5 {
                font-size: 2rem;
            }
        }

        .modal-content {

            .modal-body {

                .table {

                    thead {
                        th {
                            font-size: 0.7rem;
                            padding: 6px !important;
                        }
                    }

                    tbody {
                        tr {

                            td {
                                font-size: 0.7rem;
                                padding: 6px !important;
                            }

                            .increase,
                            .decrease {
                                padding: 5px;
                                font-size: 10px;
                            }

                            .remove {
                                padding: 5px;
                                font-size: 10px;
                            }
                        }
                    }
                }

                #totalPayment {
                    th, td {
                        font-size: 0.7rem;
                    }
                }
            }
        }

        .modal-footer {
            button {
                font-size: 0.7rem;
            }
        }
    }
}

@include responsive('sm') {
    .modal-dialog {
        
        .modal-header {
            h5 {
                font-size: 1.6rem;
            }
        }

        .modal-content {

            .modal-body {

                .table {

                    thead {
                        th {
                            font-size: 0.4rem;
                            padding: 6px;
                        }
                    }

                    tbody {
                        tr {

                            td {
                                font-size: 0.4rem;
                                padding: 6px !important;
                            }

                            .increase,
                            .decrease {
                                padding: 5px;
                                font-size: 10px;
                            }

                            .remove {
                                padding: 3px;
                                font-size: 6px !important;
                            }
                        }
                    }
                }
            }
        }

        .modal-footer {
            button {
                font-size: 0.7rem;
            }
        }
    }
}

@include responsive('xs') {
    .modal-dialog {
        
        .modal-header {
            h5 {
                font-size: 1.6rem;
            }
        }

        .modal-content {

            .modal-body {

                .table {

                    thead {
                        th {
                            font-size: 0.4rem;
                            padding: 6px;
                        }
                    }

                    tbody {
                        tr {

                            td {
                                font-size: 0.4rem;
                                padding: 6px !important;
                            }

                            .increase,
                            .decrease {
                                padding: 4px;
                                font-size: 6px;
                            }

                            .remove {
                                padding: 3px;
                                font-size: 6px !important;
                            }
                        }
                    }
                }
            }
        }

        .modal-footer {
            button {
                font-size: 0.5rem;
            }
        }
    }
}