// colors
$color-yellow: #ebad01;
$color-yellow-light: #cba846;
$color-green-light: #9be2af;
$color-green-dark: #13502f;
$color-text: #0f1316;
$color-note: #5b5050;

// responsive
$breakpoints: (
    "xs": 415px,
    "sm": 575.98px,
    "md": 767.98px,
    "lg": 991.98px,
    "xl": 1199.98px
);